@media only screen and (max-width: 767px) {
    .features__cards, .about__cards {
        flex-wrap: wrap;
    }
    .card {
        width: 100%;
    }

    .partner {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .partner__item {
        display: flex;
        justify-content: center;
        min-width: 250px;
        padding: 24px 0;
    }
    .join__form form {
        flex-direction: column;
        align-items: center !important;
    }
    .field-input {
        width: 100%;
        padding: 12px;
    }

}